<div class="flex justify-end mt-2">
	<button class="btn-reverse" (click)="addPlanRevision()">Add</button>
</div>
<div class="w-full rounded shadow-2 p-10 bg-white mt-2">
	<form (ngSubmit)="onSubmit()">
		<div class="flex justify-center">
			<div class="flex flex-col">
				<div class="flex flex-col">
					<label class="text-sm text-gray-600">Change Received</label>
					<input type="date" [ngModel]="planRevision.epR_PLAN_CHANGE_REC_DT | date:'yyyy-MM-dd'" (ngModelChange)="planRevision.epR_PLAN_CHANGE_REC_DT = $event" name="epR_PLAN_CHANGE_REC_DT" />
				</div>

				<div class="flex flex-col py-2">
					<label class="text-sm text-gray-600">Request Received</label>
					<input type="date" [ngModel]="planRevision.epR_REQUEST_REC_DT | date:'yyyy-MM-dd'" (ngModelChange)="planRevision.epR_REQUEST_REC_DT = $event" name="epR_REQUEST_REC_DT" />
				</div>
				<div class="flex flex-col">
					<label class="text-sm text-gray-600">To Design</label>
					<input type="date" [ngModel]="planRevision.epR_TO_DESIGN_DT | date:'yyyy-MM-dd'" (ngModelChange)="planRevision.epR_TO_DESIGN_DT = $event" name="epR_TO_DESIGN_DT" />
				</div>
				<div class="flex flex-col pt-2">
					<label class="text-sm text-gray-600">Completed</label>
					<input type="date" [ngModel]="planRevision.epR_COMPLETED_DT | date:'yyyy-MM-dd'" (ngModelChange)="planRevision.epR_COMPLETED_DT = $event" name="epR_COMPLETED_DT" />
				</div>
			</div>

			<div class="flex flex-col ml-8">

				<div class="flex flex-col">
					<label class="text-sm text-gray-600">Requestor</label>
					<input type="text" [(ngModel)]="planRevision.epR_REQUESTOR" name="epR_REQUESTOR" />
				</div>
				<div class="flex flex-col py-2">
					<label class="text-sm text-gray-600">Request</label>
					<textarea class="border rounded h-24 p-2" [(ngModel)]="planRevision.epR_REQUEST" name="epR_REQUEST" type="text"></textarea>
				</div>
			</div>
			<div class="flex flex-col ml-8">
				<div class="flex flex-col">
					<label class="text-sm text-gray-600">Created By/Date</label>
					<input class="bg-gray-200" readonly type="text" [(ngModel)]="planRevision.epR_CREATED_BY" name="epR_CREATED_BY" />

					<input class="bg-gray-200" readonly type="date" [ngModel]="planRevision.epR_CREATED_DT | date:'yyyy-MM-dd'" (ngModelChange)="planRevision.epR_CREATED_DT = $event" name="epR_CREATED_DT" />
				</div>

				<div class="flex flex-col pt-2">
					<label class="text-sm text-gray-600">Modified By/Date</label>
					<input class="bg-gray-200" readonly type="text" [(ngModel)]="planRevision.epR_MODIFIED_BY" name="epR_MODIFIED_BY" />

					<input class="bg-gray-200" readonly type="date" [ngModel]="planRevision.epR_MODIFIED_DT | date:'yyyy-MM-dd'" (ngModelChange)="planRevision.epR_MODIFIED_DT = $event" name="epR_MODIFIED_DT" />
				</div>
			</div>
		</div>
		<div class="flex justify-end">
			<button class="btn"
					type='submit'>
				Submit
			</button>
		</div>
	</form>
</div>
